body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-base);
}

::selection {
  color: #fff;
  text-shadow: none;
  background-color: var(--color-selection);
}
