:root {
  /* colors */
  --color-primary: hsl(200, 85%, 38%);
  --color-accent: hsl(358, 100%, 68%);
  --color-background: var(--color-light-background);
  --color-background-alt: var(--color-light-background-alt);
  --color-divider: var(--color-light-divider);
  --color-selection: var(--color-light-selection);
  --color-text: var(--color-light-text);
  --color-text-lc: var(--color-light-text-lc);
  --color-text-hc: var(--color-light-text-hc);

  /* themes */
  --color-light-background: hsl(0, 0%, 100%);
  --color-light-background-alt: hsl(200, 20%, 96%);
  --color-light-divider: hsl(197, 14%, 90%);
  --color-light-text: hsl(199, 9%, 36%);
  --color-light-text-lc: hsl(199, 8%, 41%);
  --color-light-text-hc: hsl(199, 9%, 30%);
  --color-light-selection: var(--color-accent);

  --color-dark-background: hsl(196, 23%, 11%);
  --color-dark-background-alt: hsl(196, 23%, 14%);
  --color-dark-divider: hsl(214, 4%, 39%);
  --color-dark-text: hsl(199, 8%, 61%);
  --color-dark-text-lc: hsl(199, 6%, 51%);
  --color-dark-text-hc: hsl(203, 11%, 71%);
  --color-dark-selection: hsl(358, 100%, 78%);

  /* typography */
  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-heading: Montserrat, var(--font-base);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --color-background: var(--color-dark-background);
    --color-background-alt: var(--color-dark-background-alt);
    --color-divider: var(--color-dark-divider);
    --color-text: var(--color-dark-text);
    --color-text-lc: var(--color-dark-text-lc);
    --color-text-hc: var(--color-dark-text-hc);
    --color-selection: var(--color-dark-selection);
  }
}
