:root {
  /* colors */
  --blue-400: hsl(200, 100%, 44%);
  --blue-500: hsl(200, 100%, 36%);
  --red-500: hsl(355, 87%, 66%);
  --gray-50: hsl(0, 0%, 98%);
  --gray-100: hsl(240, 5%, 96%);
  --gray-200: hsl(240, 6%, 90%);
  --gray-300: hsl(240, 5%, 84%);
  --gray-400: hsl(240, 5%, 65%);
  --gray-500: hsl(240, 4%, 46%);
  --gray-600: hsl(240, 5%, 34%);
  --gray-700: hsl(240, 5%, 26%);
  --gray-800: hsl(240, 4%, 16%);
  --gray-900: hsl(240, 6%, 10%);

  /* aliases */
  --color-primary: var(--color-light-primary);
  --color-accent: var(--color-light-accent);
  --color-background: var(--color-light-background);
  --color-background-alt: var(--color-light-background-alt);
  --color-divider-lc: var(--color-light-divider-lc);
  --color-divider-hc: var(--color-light-divider-hc);
  --color-selection: var(--color-light-selection);
  --color-text: var(--color-light-text);
  --color-text-lc: var(--color-light-text-lc);
  --color-text-hc: var(--color-light-text-hc);

  /* themes */
  --color-light-primary: var(--blue-500);
  --color-light-accent: var(--red-500);
  --color-light-background: white;
  --color-light-background-alt: var(--gray-100);
  --color-light-divider-lc: var(--gray-200);
  --color-light-divider-hc: var(--gray-600);
  --color-light-text: var(--gray-600); /* 7.72 c/r */
  --color-light-text-lc: var(--gray-500); /* 4.83 c/r */
  --color-light-text-hc: var(--gray-700); /* 10.44 c/r */
  --color-light-selection: var(--color-primary);

  --color-dark-primary: var(--blue-400);
  --color-dark-accent: var(--red-500);
  --color-dark-background: var(--gray-800);
  --color-dark-background-alt: var(--gray-700);
  --color-dark-divider-lc: var(--gray-600);
  --color-dark-divider-hc: var(--gray-200);
  --color-dark-text: var(--gray-300); /* 10.07 c/r */
  --color-dark-text-lc: var(--gray-400); /* 5.81 c/r */
  --color-dark-text-hc: var(--gray-300); /* 10.07 c/r */
  --color-dark-selection: var(--blue-400);

  /* typography */
  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-heading: Montserrat, var(--font-base);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --color-primary: var(--color-dark-primary);
    --color-accent: var(--color-dark-accent);
    --color-background: var(--color-dark-background);
    --color-background-alt: var(--color-dark-background-alt);
    --color-divider-lc: var(--color-dark-divider-lc);
    --color-divider-hc: var(--color-dark-divider-hc);
    --color-text: var(--color-dark-text);
    --color-text-lc: var(--color-dark-text-lc);
    --color-text-hc: var(--color-dark-text-hc);
    --color-selection: var(--color-dark-selection);
  }
}
