:root {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-base);
  letter-spacing: -0.011em;
  background-color: var(--color-background);
  color: var(--color-text);
}

::selection {
  color: #fff;
  text-shadow: none;
  background-color: var(--color-selection);
}

[data-focus-visible-added] {
  outline: 2px solid var(--red-400);
  outline-offset: 1px;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', var(--font-base);
    font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}
