:root {
  /* colors */
  --blue-300: hsl(200, 100%, 52%);
  --blue-400: hsl(200, 100%, 44%);
  --blue-500: hsl(200, 100%, 36%);
  --red-400: hsl(354, 65%, 69%);
  --red-500: hsl(354, 65%, 59%);
  --gray-50: hsl(0, 0%, 98%);
  --gray-100: hsl(240, 5%, 96%);
  --gray-200: hsl(240, 6%, 89%);
  --gray-300: hsl(240, 5%, 84%);
  --gray-400: hsl(240, 5%, 65%);
  --gray-500: hsl(240, 4%, 46%);
  --gray-600: hsl(240, 5%, 34%);
  --gray-700: hsl(240, 5%, 26%);
  --gray-800: hsl(240, 4%, 16%);
  --gray-900: hsl(240, 6%, 10%);

  /* aliases */
  --color-primary: var(--blue-500);
  --color-accent: var(--red-500);
  --color-background: white;
  --color-background-alt: var(--gray-100);
  --color-divider-lc: var(--gray-200);
  --color-divider-hc: var(--gray-600);
  --color-text: var(--gray-600); /* 7.72 c/r */
  --color-text-lc: hsl(240, 4%, 48%); /* 4.52 c/r */
  --color-text-hc: var(--gray-700); /* 10.44 c/r */
  --color-selection: var(--color-accent);
  --color-highlight: hsla(200, 100%, 64%, 0.2);

  --dark-primary: var(--blue-400);
  --dark-accent: var(--red-500);
  --dark-background: var(--gray-800);
  --dark-background-alt: var(--gray-700);
  --dark-divider-lc: var(--gray-600);
  --dark-divider-hc: var(--gray-200);
  --dark-text: var(--gray-300); /* 10.07 c/r */
  --dark-text-lc: hsl(240, 5%, 57.25%); /* 4.5 c/r */
  --dark-text-hc: var(--gray-300); /* 10.07 c/r */
  --dark-selection: var(--color-accent);

  /* typography */
  --font-size: 16px;
  --font-base: Inter, system-ui, -apple-system, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  --font-heading: Montserrat, var(--font-base);

  /* animation */
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
}

.theme-dark {
  --color-primary: var(--dark-primary);
  --color-accent: var(--dark-accent);
  --color-background: var(--dark-background);
  --color-background-alt: var(--dark-background-alt);
  --color-divider-lc: var(--dark-divider-lc);
  --color-divider-hc: var(--dark-divider-hc);
  --color-text: var(--dark-text);
  --color-text-lc: var(--dark-text-lc);
  --color-text-hc: var(--dark-text-hc);
  --color-selection: var(--dark-selection);
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    --color-primary: var(--dark-primary);
    --color-accent: var(--dark-accent);
    --color-background: var(--dark-background);
    --color-background-alt: var(--dark-background-alt);
    --color-divider-lc: var(--dark-divider-lc);
    --color-divider-hc: var(--dark-divider-hc);
    --color-text: var(--dark-text);
    --color-text-lc: var(--dark-text-lc);
    --color-text-hc: var(--dark-text-hc);
    --color-selection: var(--dark-selection);
  }
}
